{% extends "base/home_base.html" %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <p></p>
</div>

  <div class="container">
    <div class="jumbotron JumbotronFormImg">

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong> Important: </strong> {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}


      <form action="" method="POST">
        {{ form.hidden_tag() }}

        <h2 style="font-family:verdana; color: #514e0d; text-align:center;"><b> Password Reset Form </b></h2>
        <br>

        <div class="form-group">
          <label for="email"><h5 style="font-family:verdana; color: #514e0d"><b>Email Address: </b></h5></label>
          <input type="email" class="form-control form-control-sm" name="email" id="email" aria-describedby="emailHelp" value="">
          <small id="emailHelp" class="form-text text-muted"><i style="font-family:verdana; color: #514e0d">We'll never share your email with anyone else, nor spam your Inbox.</i></small>
        </div>

        <div class="form-group">
          <label for="new_password"><h5 style="font-family:verdana; color: #514e0d"><b>New Password: </b></h5></label>
          <input type="password" class="form-control form-control-sm" name="new_password" id="new_password" value="">
          <small id="new_passwordHelp" class="form-text text-muted"><i style="font-family:verdana; color: #514e0d"> Password must be between 6 and 20 characters. </i></small>
        </div>

        <div class="form-group">
          <label for="new_pass_confirm"><h5 style="font-family:verdana; color: #514e0d"><b>Confirm New Password: </b></h5></label>
          <input type="password" class="form-control form-control-sm" name="new_pass_confirm" id="new_pass_confirm" value="">
          <small id="new_passwordHelp1" class="form-text text-muted"><i style="font-family:verdana; color: #514e0d"> Minimum accepted password length is six. </i></small>
        </div>

        <hr>

        <div class="row">
          <div class="col">
            <a class="btn btn-warning btn-lg" href="{{ url_for("support") }}" role="button">Support </a>
          </div>
          <div class="col">
            <button type="submit" class="btn btn-success btn-lg float-right">Update Password</button>
          </div>
        </div>
        <br>

      </form>

    </div>
  </div>

{% endblock %}
