{% extends "base/amz_file_upload.html" %}
{% block content %}
<style type="text/css"> body{ background: url("../static/background/riverbed.jpg") !important; background-size: cover !important; background-repeat: no-repeat !important; background-position: center !important; height: 100% !important;}</style>
<style type="text/css"> html{ height: 100% !important;}</style>


<p></p>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center"  style="color: #7c4831;">
  <h1 class="display-4"><b>Awaiting Amazon Approval!</b></h1><br>
</div>

<div class="card" style="background-color: #cce6ff; color: #7c4831; margin-left:30px; margin-right:30px; margin-top:15px;">
  <p class="lead" style="margin-left:10px; margin-right:10px; margin-top:10px;">Amazon MWS approach will be an alternative to Manual Upload. Seller will be able to directly login to their Amazon Seller account and grant us <em>Developer</em> access. This access shall be required just once and then all the Seller Dashboards will automatically keep updating daily on our portal based on their Amazon transactions. We are waiting for an approval from Amazon before serving this option to our customers. </p>
</div>

{% endblock %}
