{% extends "base/home_base.html" %}
{% block content %}


<div class="jumbotron JumbotronFormImg1">
  <blockquote class="blockquote text-center">
    <img src="../static/errors/oops.png" class="rounded mx-auto d-block" alt="Image seems unavailable!"><br>
    <h1 class="display-4" style="color: #e8e800;"><b>Unable to locate this file!</b></h1><br>
    <footer class="blockquote-footer"><a class="btn btn-warning btn-lg" href="{{url_for("landing_page")}}" role="button"><i class="material-icons w3-large">home</i> Back to Home</a></footer>
  </blockquote><br>
</div>
<p></p>

{% endblock %}
