{% extends "base/home_base.html" %}
{% block content %}


<p></p>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-3" style="color: #fce819;"><b>Features & Pricing</b></h1>
</div>
<p></p>
<br>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header" style="background-color: #7c4831;">
          <h4 class="my-0 font-weight-normal" style="font-family: Helvetica; color: #fce819;">Amazon</h4>
        </div>
        <div class="card-body CardBodyImg">
          <h2 class="card-title pricing-card-title" style="color: #0280ff;">₹299.00 <small class="text-muted">/mo</small></h2>
          <ul class="list-unstyled mt-3 mb-4">
            <span class="badge badge-pill badge-warning">10 Users included</span><br>
            <span class="badge badge-pill badge-warning">2 GB of storage</span><br>
            <span class="badge badge-pill badge-warning">Email support</span><br>
            <span class="badge badge-pill badge-warning">Help center access</span><hr>
          </ul>
          <a class="btn btn-lg btn-block btn-success" href="{{url_for("register")}}" role="button" style="font-family: Helvetica">Signup</a>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header" style="background-color: #7c4831;">
          <h4 class="my-0 font-weight-normal" style="font-family: Helvetica; color: #fce819;">Flipkart</h4>
        </div>
        <div class="card-body CardBodyImg">
          <h2 class="card-title pricing-card-title" style="color: #0280ff;">Coming Soon!</h2>
          <ul class="list-unstyled mt-3 mb-4">
            <span class="badge badge-pill badge-warning">20 Users included</span><br>
            <span class="badge badge-pill badge-warning">5 GB of storage</span><br>
            <span class="badge badge-pill badge-warning">Priority Email support</span><br>
            <span class="badge badge-pill badge-warning">Help center access</span><hr>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-success" style="font-family: Helvetica" readonly>Signup</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header" style="background-color: #7c4831;">
          <h4 class="my-0 font-weight-normal" style="font-family: Helvetica; color: #fce819;">Snapdeal</h4>
        </div>
        <div class="card-body CardBodyImg">
          <h2 class="card-title pricing-card-title" style="color: #0280ff;">Coming Soon!</h2>
          <ul class="list-unstyled mt-3 mb-4">
            <span class="badge badge-pill badge-warning">30 Users included</span><br>
            <span class="badge badge-pill badge-warning">15 GB of storage</span><br>
            <span class="badge badge-pill badge-warning">Priority Phone & Email support</span><br>
            <span class="badge badge-pill badge-warning">Dedicated Support Assistant</span><hr>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-success" style="font-family: Helvetica" readonly>Signup</button>
        </div>
      </div>
    </div>



{% endblock %}
